<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Inicio</title>
</head>

<body class="fondo-register" >
<section>
    <div>
        <img src="../assets/img/logo-white.png" alt="logo pequeño" class="logo-little">
    </div>
    <div>
        <img src="../assets/img/logo-pink.png" alt="logo grande" class="logo-big">
    </div>
</section>
<main class="container-flex-column">
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
        <a href="singnup.html" type="button" class="btn btn-success" id="signup">Sing up</a>
        <a href="login.html" type="button" class="btn btn-success" id="login">Log in</a>
        </div>
    </div>
    </div>
    </div>
</main>
<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="../js/inicio.js"></script>
</body>

</html>