<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sing Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../vendors/Materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <nav class="nav-extended white">
        <div class="nav-wrapper">
          <a class="btn-floating waves-effect waves-light color-degradiend" href="../index.html"><i class="material-icons">keyboard_arrow_left</i></a>
          <a href="#!" class="brand-logo center black-text">Sing Up</a>
        </div>
        <div class="nav-content">
          <center><a href="" class="black-text">Join now for free ride credit</a></center>
      </div>
      </nav>
    </header>
   <section>
   <div class="container">
   <div class="row space">
     <form class="col s12">
    <!--Selección de países-->
        <div class="col s4 offset-s1">
          <!--Pais para seleccionar -->
          <a class='btn white border' href='#' data-activates='dropdown1'>
            <img id="mexico" src="../assets/img/mexico.png" alt="México" class="responsive-img"><i class="material-icons pink-text">play_arrow</i>
          </a>
          <!-- Estructura de países al seleccionar -->
          <ul id='dropdown1' class='dropdown-content min-width hide'>
            <li><center><img id="colombia" value="option2" src="../assets/img/colombia.png" alt="Colomba" class="responsive-img"></center></li>
            <li><center><img  value="option3" src="../assets/img/peru.png" alt="Perú" class="responsive-img"></li>
            <li><center><img  value="option4" src="../assets/img/usa.png" alt="Estados Unidos" class="responsive-img"></center></li>
          </ul>
        </div>
        <!--Ingresar número-->
        <div class="col s6 border">
          <input id="input_text" type="text" placeholder="+52">
        </div>
       </div>
     </form>
   </section>
    <footer>
      <div class="row space">
      <div class="col s12">
        <a id="next" class="waves-effect waves-light btn-large col s12 grey lighten-2 disabled">Next</a>
       </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../vendors/Materialize/js/materialize.min.js"></script>
    <script src="../js/singnup.js"></script>
  </body>
</html>
